[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/newsletter"
  to = "https://readmasterpiece.substack.com/"
  status = 307
  force = true

